body {
	margin: 0;
	/* overflow: hidden; */
}

.code-editor-container {
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	position: relative;
}

.code-editor {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	padding: 10px;
	margin: 0;
	font-family: "Courier New", Courier, monospace;
	font-size: 0.8rem;
	/* padding: 3%; */
	border: none;
	outline: none;
	line-break: anywhere;
	white-space: pre-wrap;
	color: white;
	/* line-height: 2em; */
	display: block;
}

.code-editor-background {
	/* resize: none; */
	background-color: rgb(44, 44, 44);
	caret-color: white;
	color: transparent;
}

.code-editor-background::selection {
	color: transparent;
	background: #757575;
}

.code-editor-foreground {
	pointer-events: none;
	left: 1px;
	top: 1px
}

.buttonStyle1 {
	width: 6em;
	background-color: grey;
	border: none;
	text-decoration: none;
	border-radius: 10px;
	margin-top: 0.5em;
}

.buttonStyle2 {
	background-color: rgb(240, 128, 128);
	width: 6em;
	border: none;
	text-decoration: none;
	border-radius: 10px;
	margin-top: 0.5em;
}

.buttonHolder {
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 10px;
	margin-bottom: 10px;
	align-items: end;

}

/* Menu */
.style0 {
	color: rgb(158, 197, 210);
	font-style: italic;
	font-weight: bold;
	border-top: solid;
	border-bottom: solid;

}

/* Categorie */
.style1 {
	color: rgb(158, 197, 210);
	font-style: italic;
	font-weight: bold;
	/* text-decoration-line: underline; */
}

/* Nom */
.style2 {
	color: rgb(255, 231, 124);
}

/* Prix */
.style3 {
	color: rgb(226, 191, 255);
}

/* Description */
.style4 {
	color: rgb(155, 255, 200);
}

/* Commentaire */
.style5 {
	color: rgb(158, 197, 210);
	font-style: italic;
}

/* Ligne commentée désactivée */
.styleCommented {
	color: rgb(166, 166, 166);
	/* font-style: italic; */
	text-decoration: line-through;
	text-decoration-color: rgb(0, 0, 0);
	text-decoration-line: line-through;
}

/* Error */
.styleError {
	color: rgb(255, 255, 255);
	font-weight: bold;
	background-color: rgb(255, 0, 0);
}

.styleDelimiter {
	color: rgb(255, 255, 255);
}