body {
	margin: 0;
	padding: 0;
	border: 0;
	/* overflow: hidden; */
	background-color: rgb(44, 44, 44);
}

.code-editor-container {
	/* overflow: hidden; */
	width: 1000ch;
	height: 1000ch;
	position: relative;
}

.code-editor {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	margin: 0;
	font-family: "Courier New", Courier, monospace;
	font-size: 0.8rem;
	/* padding: 3%; */
	border: none;
	outline: none;
	line-break: anywhere;
	white-space: pre-wrap;
	color: white;
	/* line-height: 2em; */
	display: block;
	letter-spacing: 0px;
}

/* the background input text area */
.code-editor-background {
	resize: none;
	/* background-color: rgb(44, 44, 44); */
	background-color: transparent;
	caret-color: white;
	color: transparent;
	border: 1px;
	/* border: solid; */
	/* border-color:brown; */
}

.code-editor-background::selection {
	color: transparent;
	background: #6c7fbd;
}

/* the front text displayed in color (no pointer event) */
.code-editor-foreground {
	pointer-events: none;
	/* border: dashed; */
	/* border-color: aqua; */
	/* left: 1px; */
	/* top: 1px */
}

.buttonStyle {
	/* width: 100%; */
	/* background-color: rgb(59, 72, 69); */
	background-color: rgba(58, 90, 82, 0.444);
	border-bottom: solid;
	border-right: solid;
	border-top: none;
	border-left: none;
	/* border-color: #ffb7b7; */
	/* outline: 1px solid; */
	text-decoration: none;
	/* border-radius: 10px; */
	/* margin-top: 0.5em; */
	/* padding: 0; */
	transition-duration: 0.4s;
	padding-bottom: 0.5ch;
	padding-top: 0.5ch;
	margin: 0;
	flex-grow: 1;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	font-size: 1rem;
	color: rgb(255, 184, 90);
}

.buttonStyle:hover {
	background-color: #04AA6D;
	color: white;
}

.buttonHolder {
	display: flex;
	flex-direction: row;
	position: sticky;
	top: 0;
	left: 0;
	width: 100vw;
	height: 2ch;
	z-index: 2;
	/* margin-right: 10px;
	margin-bottom: 10px;
	align-items: end;
	width: 10ch; */
	padding: 0;
	margin: 0;
	flex-wrap: wrap;
	border: 0;
}

/* Menu */
.style0 {
	color: rgb(158, 197, 210);
	font-style: italic;
	font-weight: bold;
	border-top: solid;
	border-bottom: solid;

}

/* Categorie */
.style1 {
	color: rgb(219, 123, 198);
	font-style: italic;
	font-weight: bold;
	/* text-decoration-line: underline; */
}

/* Nom */
.style2 {
	color: rgb(224, 206, 129);
	font-weight: bold;
}

/* Prix */
.style3 {
	color: rgb(226, 191, 255);
}

/* Description */
.style4 {
	color: rgb(140, 218, 175);
}

/* Commentaire */
.style5 {
	color: rgb(138, 142, 254);
	font-style: italic;
}

/* Ligne commentée désactivée */
.styleCommented {
	color: rgb(182, 182, 182);
	/* font-style: italic; */
	/* text-decoration:underline; */
	/* text-decoration-color: rgb(60, 60, 60); */
}

/* Error */
.styleError {
	color: rgb(255, 255, 255);
	font-weight: bold;
	background-color: rgb(255, 0, 0);
}

.styleDelimiter {
	color: rgb(255, 255, 255);
}

#whole-thing {
	display: inline-block;
	top: 0;
	left: 0;
	/* pointer-events: none; */
	padding: 0;
	margin: 0;
	border: 0;
}