.cloudContainer {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	/* bottom: 0; */
	pointer-events: none;
}

.cloud {
	position: absolute;
	width: 500%;
	height: 100%;
}

.cloud1 {
	animation: 32s linear infinite forwards move_cloud1;
	animation-delay: -12s;
	z-index: -2;
	opacity: 60%;
}

.cloud2 {
	animation: 25s linear infinite forwards move_cloud2;
	animation-delay: -16s;
	transform: translateX(-200vw);
	opacity: 50%;
	z-index: -1;
}

.cloud3 {
	animation: 63s linear infinite forwards move_cloud3;
	animation-delay: -20s;
	transform: translateX(-200vw);
	opacity: 80%;
	z-index: -1;
}

@keyframes move_cloud1 {
	0% {
		transform: translateX(-500vw);
	}

	100% {
		transform: translateX(100vw);
	}
}

@keyframes move_cloud2 {
	0% {
		transform: rotate(0.5turn) translateX(500vw);
	}

	100% {
		transform: rotate(0.5turn) translateX(-100vw);
	}
}

@keyframes move_cloud3 {
	0% {
		transform: scaleX(-1) translateX(-100vw);
	}

	100% {
		transform: scaleX(-1) translateX(500vw);
	}
}