@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

menuStyle {
	position: sticky;
	top: 0;
	color: #484848;
	font-family: 'Yeseva One', cursive;
	font-weight: bolder;
	font-size: 180%;
	writing-mode: vertical-lr;
	text-orientation: upright;
	word-spacing: 0.5rem;
	white-space: nowrap;
	flex-shrink: 0;
	background-color: #d0972d00;
}

categorieStyle {
	text-align: center;
	color: #f1b061;
	font-family: 'Yeseva One', cursive;
	font-weight: bolder;
	font-size: 250%;
	min-height: 0;
}

produitStyle {
	text-align: left;
	color: rgb(39, 39, 39);
	font-family: 'Courier Prime';
	font-size: 140%;
	text-transform: uppercase;
	flex-shrink: 1;
	padding-right: 1em;
}

prixStyle {
	text-align: right;
	color: rgb(36, 36, 36);
	font-family: 'Courier Prime';
	font-size: 140%;
	padding-left: 1em;
	flex-shrink: 1;
}

descriptionStyle {
	text-align: justify;
	color: rgb(46, 46, 46);
	font-family: 'courier prime';
	font-size: 120%;
	margin-top: 0.4em;
	flex-shrink: 1;
}

commentaireStyle {
	text-align: center;
	color: rgb(44, 44, 44);
	font-family: 'courier prime';
	font-size: 120%;
	margin-top: 0.5em;
	min-height: 0;
	flex-shrink: 1;
}

defautStyle {
	color: rgb(255, 0, 0);
}

dots {
	flex-grow: 1;
	height: 1em;
	/* background: radial-gradient(circle at 50% 0.75em, black 0.1em, transparent 0); */
	background: radial-gradient(circle at 50% 0.75em, rgba(0, 0, 0, 0.444) 0.1em, transparent 0);
	background-size: 0.7em;
	background-repeat: repeat-x;
}

creditStyle {
	text-align: center;
	color: rgb(0, 0, 0);
	font-family: 'Oswald', sans-serif;
	font-size: 100%;
	font-weight: 100;
}

/*for language box*/
buttonStyle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: rgb(75, 75, 75);
	/* font-family: 'Courier Prime'; */
	font-family: 'Yeseva One';
	font-weight: bolder;
	font-size: 130%;
	min-height: 0;
	margin-left: 0.3em;
	margin-right: 0.3em;
	padding: 0.1em;
}


titlecenterR {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	min-height: 0;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	background-color: #ffffff64;
	border-radius: 50%;
	/* border: 1px solid black; */
	/* clip-path: circle(50%); */
	width: 100vw;
	height: 100vw;
}

logoStyle {
	/* position: sticky; */
	/* top: 0; */
	color: #f1b061;
	font-family: "Yeseva One", serif;
	font-weight: bolder;
	font-size: 600%;
	/* writing-mode: vertical-lr;
	text-orientation: upright; */
	word-spacing: 0.1rem;
	white-space: nowrap;
	flex-shrink: 0;
	/* padding-top: 5vh;
	padding-bottom: 10vh; */
	/* backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	background-color: #ffffff64;
	border-radius: 10px;
	clip-path: circle(50%); */
}