@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

menuStyle {
	position: sticky;
	top: 0;
	color: #585858;
	font-family: 'Caprasimo', cursive;
	font-size: 180%;
	writing-mode: vertical-lr;
	text-orientation: upright;
	word-spacing: 0.5rem;
	white-space: nowrap;
	flex-shrink: 0;
	background-color: #d0972d00;
}

categorieStyle {
	text-align: center;
	color: #f28a2eff;
	font-family: 'Caprasimo', cursive;
	font-size: 250%;
	min-height: 0;
}

produitStyle {
	text-align: left;
	color: rgb(76, 76, 76);
	font-family: 'Courier Prime';
	font-size: 140%;
	text-transform: uppercase;
	flex-shrink: 1;
	padding-right: 1em;
}

prixStyle {
	text-align: right;
	color: rgb(76, 76, 76);
	font-family: 'Courier Prime';
	font-size: 140%;
	padding-left: 1em;
	flex-shrink: 1;
}

descriptionStyle {
	text-align: justify;
	color: rgb(0, 0, 0);
	font-family: 'courier new';
	font-size: 120%;
	margin-top: 0.4em;
	flex-shrink: 1;
}

commentaireStyle {
	text-align: center;
	color: rgb(44, 44, 44);
	font-family: 'courier prime';
	font-size: 120%;
	margin-top: 0.5em;
	min-height: 0;
	flex-shrink: 1;
}

defautStyle {
	color: rgb(255, 0, 0);
}

dots {
	flex-grow: 1;
	height: 1em;
	/* background: radial-gradient(circle at 50% 0.75em, black 0.1em, transparent 0); */
	background: radial-gradient(circle at 50% 0.75em, rgba(0, 0, 0, 0.444) 0.1em, transparent 0);
	background-size: 0.7em;
	background-repeat: repeat-x;
}

creditStyle {
	text-align: center;
	color: rgb(0, 0, 0);
	font-family: 'Oswald', sans-serif;
	font-size: 100%;
	font-weight: 100;
}

/*for language box*/
buttonStyle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: rgb(75, 75, 75);
	/* font-family: 'Courier Prime'; */
	font-family: 'Caprasimo';
	font-size: 130%;
	min-height: 0;
	margin-left: 0.3em;
	margin-right: 0.3em;
}