:root {
	/* Global color palette */
	--color-bg: #ffeacf;
	--color-stripe1: #ffddad;
	--color-stripe2: #ffeacf;
	--color-border1: #ffeacf;
	/*linkStyle and button border*/
	--color-border2: #ffeacf;
	/*buttonStyle border*/
	--color-bg0: #fffaf4;
	/*menu bloc bg*/
	--color-bg1: #ffffff;
	/*linkStyle and button bg*/
	--color-bg2: #ffffff;
	/*selected linkStyle lighter bg*/
	--color-underline1: #585858;
	--color-font1: #585858;
	/*menu font*/
	--color-font2: #f1b061;
	/*categorie font*/
	--color-font3: #dca057;
	/*produit font*/
	--color-font4: #575757;
	/*prix font*/
	--color-font5: #2e2e2e;
	/*description font*/
	--color-font6: #575757;
	/*commentaires*/
	--color-font7: #ff0000;
	/*error font*/
	--color-font8: #494949;
	/*button font*/
	--color-logo1: #ffffff;
	/*logo font*/
	--color-mainr-border: #ffeacf;
	/*main r border*/
	--color-brume-circle-fade1: rgb(0, 0, 0);
	--color-brume-circle-fade2: rgba(0, 0, 0, 0);
	--color-brume-circle-bg: #f1b061;
	--color-review-box-bg: rgb(255, 255, 255);

}

:root[data-theme="black"] {
	/* Global color palette */
	--color-bg: #000000;
	--color-stripe1: #000000;
	--color-stripe2: #000000;
	--color-border1: #ffffff;
	/*linkStyle and button border*/
	--color-border2: #ffffff;
	/*buttonStyle border*/
	--color-bg0: #000000;
	/*menu bloc bg*/
	--color-bg1: #000000;
	/*linkStyle and button bg*/
	--color-bg2: #000000;
	/*selected linkStyle lighter bg*/
	--color-underline1: #ffffff;
	--color-font1: #ffffff;
	/*menu font*/
	--color-font2: #ffffff;
	/*categorie font*/
	--color-font3: #ffffff;
	/*produit font*/
	--color-font4: #ffffff;
	/*prix font*/
	--color-font5: #ffffff;
	/*description font*/
	--color-font6: #ffffff;
	/*commentaires*/
	--color-font7: #ff0000;
	/*error font*/
	--color-font8: #ffffff;
	/*button font*/
	--color-logo1: #ffffff;
	/*logo font*/
	--color-mainr-border: #ffffff;
	/*main r border*/
	--color-brume-circle-fade1: rgb(0, 0, 0);
	--color-brume-circle-fade2: rgba(0, 0, 0, 0);
	--color-brume-circle-bg: rgb(0, 0, 0);
	--color-review-box-bg: rgb(0, 0, 0);
}