body {
	margin: 0;
	background-color: #ffede3;
}

headerR {
	display: flex;
	flex-direction: row;
	justify-content: left;
	padding-bottom: 6em;
	padding-top: 1em;
}

.background {
	z-index: -6;
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	pointer-events: none;
	background-repeat: no-repeat;
	background-position: left;
	background-size: cover;
	transform: translate3d(0px, 0px, 0px);
	filter: brightness(1.3) saturate(0.6);
}

externalLogoR {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 1em;
	padding-bottom: 1em;
}

externalLogoC {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.instaLogo {
	height: 1cm;
	/* width: auto;
	margin-bottom: 0.3cm;
	margin-bottom: 0.3cm; */
}

.stripes {
	top: 0;
	background-color: #ffffff00;
	opacity: 1;
	/* background-image: linear-gradient(to right, #ffffff7b, #ffffff7b 10px, #ffffff49 10px, #ffffff49); */
	background-image: linear-gradient(to right, #ffffff00, #ffffff00 10px, #ffffff45 10px, #ffffff45);
	background-size: 20px 100%;
	z-index: -5;
}

.tshirt {
	width: 100vw;
	pointer-events: none;

}

.linkStyle {
	/* background-color: #ffede3; */
	border-radius: 10px;
	border: 1px solid white;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	background-color: #ffffff64;
}

a {
	text-decoration: none;
}

.selectedLinkStyle {
	/* font-weight: bold; */
	text-decoration: underline;
	/* font-family: 'Caprasimo', cursive; */
	/* text-transform: uppercase; */
}