header {
	text-align: center;
	color: rgb(0, 0, 0);
	font-family: 'Oswald', sans-serif;
	font-size: 160%;
	font-weight: 200;
	margin-left: 1em;
	margin-top: 1em;
}

headerR {
	position: absolute;
	top: 0vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

brumeR {
	display: inline-block;
	position: fixed;
	width: 100%;
	bottom: 50vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	pointer-events: none;
	transform: translate(0, 50%);
}

/*for brume*/
brumeC {
	display: inline-block;
	display: flex;
	flex-direction: column;
	justify-content: right;
}

brume {
	display: inline-block;
	text-align: center;
	font-family: 'Yeseva One', cursive;
	font-size: 400%;
	font-weight: bolder;
	margin-bottom: -0.2em;
	color: #000000;
}

brumeSlogan {
	text-align: right;
	font-family: 'Oswald', sans-serif;
	font-size: 80%;
	font-weight: bolder;
	text-transform: uppercase;
}

homePageC {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	pointer-events: none;
}

circle {
	position: fixed;
	aspect-ratio: 1 / 1;
	bottom: 50vh;
	left: 50%;
	border-radius: 50%;
	border: 2px solid;
	transform: translate(-50%, 50%);
	pointer-events: none;
	width: 270px;
}

.wallimage {
	position: fixed;
	height: 120vh;
	width: 100vw;
	top: 0;
	left: 0;
	pointer-events: none;
	background-repeat: no-repeat;
	background-position: left;
	background-size: cover;
}

.halo {
	position: fixed;
	pointer-events: none;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	background-image: radial-gradient(circle, #ffffff00 25%, #ffffff3b 40%, #ffffff00 80%);
}

.parallax {
	height: 100vh;
	overflow-x: hidden;
	perspective: 1px;
}

.parallax-layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/* wallpaper */
.layer0 {
	transform: translateZ(-5px) scale(6);
}

/*content*/
.layer1 {
	transform: translateZ(0px) scale(1);
}

/*LOGO*/
.layer3 {
	transform: translateZ(-1px) scale(2);
}

.contentClass {
	background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 228, 193) 3%, rgb(231, 231, 231));
}
