header {
	text-align: center;
	color: rgb(0, 0, 0);
	font-family: 'Oswald', sans-serif;
	font-size: 160%;
	font-weight: 200;
	margin-left: 1em;
	margin-top: 1em;
}

headerR {
	position: absolute;
	top: 0vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

brumeR {
	display: inline-block;
	position: fixed;
	width: 100%;
	bottom: 50vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	pointer-events: none;
	transform: translate(0, 50%);
}

/*for brume*/
brumeC {
	display: inline-block;
	display: flex;
	flex-direction: column;
	justify-content: right;
}

brume {
	display: inline-block;
	text-align: center;
	font-family: 'Yeseva One', cursive;
	font-size: 400%;
	font-weight: bolder;
	margin-bottom: -0.2em;
	color: #000000;
}

brumeSlogan {
	text-align: right;
	font-family: 'Oswald', sans-serif;
	font-size: 80%;
	font-weight: bolder;
	text-transform: uppercase;
}

homePageC {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	pointer-events: none;
}

circle {
	position: fixed;
	aspect-ratio: 1 / 1;
	bottom: 50vh;
	left: 50%;
	border-radius: 50%;
	border: 2px solid;
	transform: translate(-50%, 50%);
	pointer-events: none;
	width: 270px;
}

.backgroundImage {
	position: fixed;
	left: 50%;
	height: 200vh;
	width: 100vw;
	image-orientation: from-image;
	background-image: url('img/brumewallpaper.jpg');
	background-repeat: no-repeat;
	background-position: left;
	background-size: cover;
	opacity: 100%;
	transform: translate(-50%, 0%);
	pointer-events: none;
}

.clouds {
	position: fixed;
	opacity: 80%;
	pointer-events: none;
}

.birds {
	position: fixed;
	opacity: 100%;
	pointer-events: none;
}

.brumeHalo {
	position: fixed;
	pointer-events: none;
	height: 100vmax;
	width: 100vmax;
	bottom: 50vh;
	left: 50%;
	transform: translate(-50%, 50%);
}

.halo1 {
	background-image: radial-gradient(circle, #ffffff00 40%, #29b0ff 100%);
	opacity: 100;
}

.halo2 {
	background-image: radial-gradient(circle, #ffffff37 40%, #9bfdff 110%);
	opacity: 0;
}

.parallax {
	height: 100vh;
	overflow-x: hidden;
	perspective: 0px;
}

.parallax-layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/*content*/
.layer1 {
	transform: translateZ(-0px) scale(1);
}

/*background*/
.layer2 {
	transform: translateZ(-3px) scale(8);
}

/*CLOUDS*/
.layer3 {
	transform: translateZ(-0px) scale(1) translateY(40%);
}

/*CLOUDS*/
.layer4 {
	transform: translateZ(-1px) scale(2) translateY(-20%) translateX(60%) scaleX(-1);
}

/*CLOUDS*/
.layer5 {
	transform: translateZ(-2px) scale(3) translateY(10%) translateX(-100%);
}

/*BIRDS*/
.layer6 {
	transform: translateZ(-2px) scale(1.5) translateY(-90%) translateX(-100%);
}

.fadeout {
	animation-name: fadeoutkeyframe;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

/* .pointerEventsNone {
	pointer-events: none;
}

.pointerEventsAll {
	pointer-events: all;
} */

@keyframes fadeoutkeyframe {
	from {
		opacity: 100;
	}

	to {
		opacity: 0;
	}
}

.fadein {
	animation-name: fadeinkeyframe;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes fadeinkeyframe {
	from {
		opacity: 0;
	}

	to {
		opacity: 100;
	}
}

.scaleup {
	animation-name: scaleupkeyframe;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes scaleupkeyframe {
	from {
		width: 270px;
		opacity: 100%;
	}

	to {
		width: 1000px;
		opacity: 0%;
	}
}

.contentClass {
	background-color: #ffffff8e;
}