blocC {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

blocR {
	margin-top: 0.3cm;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

blocVrac {
	margin-top: 0.3cm;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

bloc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 1cm;
	padding-right: 5mm;
	padding-left: 5mm;
	/* background-color: #ffffff6e; */
	border-radius: 10px;
	/* border-top: 1px solid; */
	/* backdrop-filter: blur(10px); */
	/* -webkit-backdrop-filter: blur(10px); */
	/* border: 1px solid rgb(255, 255, 255); */
	/* background-image: linear-gradient(to right, #ffffff00, #ffffff00 10px, #ffffff4d 10px, #ffffff4d); */
	/* background-size: 20px 100%; */





	background-color: var(--color-bg0);

	border: 5px solid var(--color-mainr-border);
	max-width: 25em;



}

photos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.tabloidphoto {
	width: 49.5%;
	/* padding-bottom: 2%; */
	margin-bottom: 1%;
	position: relative;
}