blocC {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

blocR {
	margin-top: 0.3cm;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

blocVrac {
	margin-top: 0.3cm;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

bloc {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 1cm;
	padding-right: 5mm;
	padding-left: 5mm;
	border-radius: 10px;
	background-color: var(--color-bg0);
	border: 5px solid var(--color-mainr-border);
	max-width: 25em;
}

bigbloc {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

photos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.tabloidphoto {
	width: 49.5%;
	/* padding-bottom: 2%; */
	margin-bottom: 1%;
	position: relative;
}