.heart {
	position: absolute;
	z-index: -1;
	height: 100%;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	opacity: 60%;
}

.animate {
	animation: zoomIn 1s forwards, zoomInOut 2s infinite 1s;
}

@keyframes zoomIn {
	0% {
		height: 100%;
	}
	50% {
		height: 300%;
		opacity: 100%;
	}
	100% {
		height: 100%;
	}
}

@keyframes zoomInOut {
	0% {
		height: 100%;
	}
	50% {
		height: 120%;
	}
	100% {
		height: 100%;
	}
}