centerR {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	min-height: 0;
}

leftR {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	flex-wrap: wrap;
	min-height: 0;
}

buttonsR {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	min-height: 0;
	margin-top: 5vh;
	margin-bottom: 5vh;
}

/*contener for name and price*/
produitPrixR {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	min-height: 0;
	margin-top: 3em;
	height: fit-content;
	align-items: center;
	padding-right: 5mm;
	padding-left: 5mm;
	flex-shrink: 1;
}

mainR {
	margin-top: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background-color: #ffecc8;
	border-radius: 10px;
}

leftMainC {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* background-color: rgba(255, 255, 255, 0); */
	flex-grow: 0;

}

rightMainC {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* background-color: rgba(255, 255, 255, 0); */
	flex-grow: 1;
}
