.heartContainerR {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.heart {
	position: absolute;
	z-index: -1;
	opacity: 60%;
	height: 0%;
	pointer-events: none;
}

.animate {
	animation: zoomIn 0.7s forwards;
}

@keyframes zoomIn {
	0% {
		height: 0%;
		opacity: 100%;
	}

	40% {
		height: 100%;
		opacity: 100%;
	}
	60% {
		height: 80%;
		opacity: 40%;
	}
	80% {
		height: 100%;
		opacity: 100%;
	}
	100% {
		height: 80%;
		opacity: 40%;
	}
}